# Environment variables / secret keys
.env

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Chroma vector database
chroma_db/

# Build files
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store